body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.control-buttons button,
.increment-buttons button {
  margin: 14px;
}

.session-time {
  font-size: 40px;
}

.created-by {
  margin-top: 30px;
}

.created-by a {
  padding: 10px;
}
